.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}
::ng-deep .mat-form-field-underline {
  display: block;
}
.host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
